* {
    font-family: JetBrainsMonoNerdFont;
      font-size: 15px;
}

window#waybar {
    background-color: #1d1f21;
    opacity: 0.5;
}

button {
    color: #ffffff;
    padding: 0 5px;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-center {
    color: #ffffff;
}

